
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.header{
    font-size: 6rem;
    color: #fff;

}
.container{
    /* background-color: grey; */
    font-family: 'Montserrat', sans-serif;
    /* position: absolute;
    height: 100vh;
    justify-content: center;
    align-items: center; */
    width: 60%;

}
.container-content{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    margin-left: 3rem; 
}
.main-title{
    font-size: 15rem;
    color: #fff;

}
